[server]
http_port = {{ grafana_port }}

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}

[paths]
data = /var/lib/grafana
plugins = /var/lib/grafana/plugins
provisioning = /var/lib/grafana/provisioning
logs = /var/log/grafana

[database]
type = sqlite3
path = grafana_new.db
