[defaults]
inventory = inventory/aws_ec2.yml
interpreter_python = /usr/local/bin/python3.9
deprecation_warnings = False
remote_user = ec2-user
private_key_file = ~/.ssh/assignment-6.pem

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no
